:root {
  font-size: 160%;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

body {
  margin: 0.5rem 1.5rem;
}

h1 { font-weight: 600; }
h1 { font-size: 1.5rem; }

ul {
  list-style-type: "😎 ";
  padding: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover { text-decoration: underline; }